@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: poppins;
  color: white;
}

body {
  overflow-x: hidden;
}

/* Navbar */
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  font-weight: bold;
}

.logo {
  font-family: poppins;
  font-weight: bold;
  font-size: 2rem;
}

.nav-link {
  display: flex;
  justify-content: flex-end;
}

/* Jumbotron */
#parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#parallax::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #955421, transparent);
  z-index: 1000;
}

#parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#subtext {
  position: absolute;
  font-size: 5rem;
  font-weight: 700;
  padding-top: 10vh;
  text-align: center;
}

#text {
  position: absolute;
  font-size: 9rem;
  font-weight: 700;
  padding-top: 70vh;
  text-align: center;
}

/* Facts Section */
.info {
  position: relative;
  display: flex;
  background: rgb(149, 84, 33);
  background: linear-gradient(
    180deg,
    rgba(149, 84, 33, 1) 0%,
    rgba(146, 112, 86, 1) 9%,
    rgba(144, 129, 118, 1) 19%,
    rgba(143, 143, 143, 1) 33%
  );
}

.text-container {
  padding-left: 8%;
  padding-top: 10%;
  width: 50%;
}

h2 {
  font-family: abril fatface;
  font-size: 4rem;
  padding-bottom: 2%;
}

.text-container h3 {
  font-weight: 200;
  font-size: 1.5rem;
}

.stats {
  display: flex;
}

h6 {
  font-family: abril fatface;
}

.stats-col {
  margin-top: 3%;
  margin-right: 20%;
}

.elephant_cutout {
  padding-top: 5%;
  overflow-x: hidden;
}

.elephant_cutout img {
  position: absolute;
  width: 70%;
  object-fit: contain;
  overflow-x: hidden;
}

/* Threats Section */
.threats {
  position: relative;
  background: rgb(141, 141, 141);
  background: linear-gradient(
    180deg,
    rgba(141, 141, 141, 1) 37%,
    rgba(92, 92, 92, 1) 51%,
    rgba(57, 57, 57, 1) 65%,
    rgb(48, 48, 48) 73%,
    rgb(26, 26, 26) 83%,
    rgb(14, 14, 14) 90%,
    rgba(6, 6, 6, 1) 97%
  );
}

.threats-text-container {
  padding-top: 8%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.threats-text-container p {
  width: 50%;
  line-height: 1.6;
}

.card-container {
  padding-bottom: 8%;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  background: none;
  border-radius: 20px;
  border: none;
}

.card img {
  position: absolute;
  width: 300px;
  height: 400px;
  border-radius: 10px;
}

.content {
  position: absolute;
  width: 300px;
  bottom: 0;
  height: 50px;
  padding: 0.4em 1.5em;
  background: rgba(48, 38, 38, 0.377);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  font-size: 16px;
  transform: scale(1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.144);
  overflow: hidden;
  transition: all 0.4s;
}

.content p {
  font-size: 0.8em;
  line-height: 1.6;
}

.card:hover .content {
  height: 200px;
}

.card h4 {
  font-family: abril fatface;
}

/* Video */
.overlay {
  position: relative;
  width: 100%;
}

video {
  width: 100vw;
  height: 45vh;
  object-fit: cover;
}

.overlay::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, #060606, transparent);
  z-index: 1000;
}

/* What We Can Do Section */
.action-plan h2 {
  padding-top: 8%;
  padding-bottom: 5%;
  width: 100%;
  text-align: center;
  font-family: abril fatface;
  color: #1f1f1f;
  font-size: 4rem;
}

.action-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  width: 80%;
}

.carousel-caption {
  z-index: 2;
  text-align: left;
}

.carousel-overlay::after {
  content: "";
  display: block;
  position: absolute;
  height: 180px;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.5;
  z-index: 1;
}

h5 {
  font-family: abril fatface;
}

/* Footer */
footer {
  background-color: #1f1f1f;
  margin-top: 10%;
}

.col-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 2%;
  padding-top: 5%;
}

footer ul {
  padding-left: 0;
  padding-top: 2%;
  list-style-type: none;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
  color: white;
}

footer h5 {
  font-family: abril fatface;
  font-size: 1.5rem;
}

footer label {
  padding-top: 5%;
}

input {
  width: 300px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #ffff;
}

.submit-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  transition: transform 0.2s;
}

.submit-btn:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.copyright {
  padding-right: 3%;
  display: flex;
  align-items: flex-end;
  font-size: 10px;
}

.social-icons i {
  font-size: 2rem;
  padding: 3px;
}

.bottom-wrapper {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2%;
}

/* Media Queries */
@media (max-width: 480px) {
  /* Navbar */
  .navbar {
    margin: 5%;
  }
  /* Parallax Jumbotron */
  #subtext {
    padding-top: 10vh;
    text-align: center;
    font-size: 3rem;
  }
  #text {
    position: absolute;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    padding-top: 70vh;
  }
  /* Facts  */
  .elephant_cutout img {
    padding-top: 50%;
    overflow-x: hidden;
  }
  /* Threats */
  .card {
    margin-bottom: 8%;
  }

  /* Footer */
  .col-wrapper {
    display: flex;
    flex-direction: column;
  }
  .left-col {
    padding-bottom: 5%;
    padding-top: 5%;
  }
  .right-col {
    padding-bottom: 5%;
  }
}

@media (max-width: 780px) {
  /* Navbar */
  .dropdown-menu {
    margin-left: 80%;
  }
  /* Parallax Jumbotron */
  #subtext {
    padding-top: 10vh;
    text-align: center;
    font-size: 4rem;
  }
  #text {
    position: absolute;
    color: white;
    font-size: 8rem;
    font-weight: 700;
    padding-top: 70vh;
  }
  /* Facts */
  .elephant_cutout img {
    padding-top: 10%;
    width: 80%;
  }
  /* Threats */
  .threats-text-container p {
    width: 60%;
    line-height: 1.6;
  }
  .card {
    margin-bottom: 5%;
  }
}

@media (max-width: 990px) {
  /* Navbar */
  .dropdown-menu {
    margin-left: 80%;
  }
  /* Threats */
  .card {
    margin-right: 1%;
    margin-bottom: 3%;
  }
}
