@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-image: url(/img/sky.png);
  font-family: poppins;
  color: white;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

/* .hero-container{
    background-image: linear-gradient(
180deg
,rgba(73, 83, 90, 0) 58%,#9553218a 98%);

} */

.parallax {
  position: relative;
  height: 100vh;
  width: 100vw;
  transform-style: preserve-3d;
}

.parallax::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to top, #955421, transparent);
  z-index: 1000;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.grass {
  background: url(/img/grass.png) no-repeat center;
  background-size: cover;
  transform: translateZ(-600px) scale(3.5);
  z-index: 1;
}

.small_elephant {
  background: url(/img/small_elephant.png) no-repeat center;
  background-size: cover;
  transform: translateZ(-500px) scale(3);
  z-index: 2;

}

.elephant {

  background: url(/img/elephant.png) no-repeat center;
  background-size: cover;
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}

.foreground {
  background: url(/img/foreground.png) no-repeat center;
  background-size: cover;
  transform: translateZ(0px) scale(1);
  z-index: 4;
}

.hero-text {
  transform: translateZ(0) scale(1);
  z-index: 7;
}

.header-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: -50; 
}

.header-container h1 {
  color: white;
  font-weight: 700;
  position: absolute;
  font-size: 5rem;
  padding-top: 70vh;
}

.header-container h2 {
  color: white;
  font-weight: 700;
  position: absolute;
  font-size: 5rem;
  padding-top: 20vh;
  z-index: -100;
}

.info {
  background: linear-gradient(
      180deg,
      rgba(149, 84, 33, 1) 0%,
      rgba(146, 112, 86, 1) 9%,
      rgba(144, 129, 118, 1) 19%,
      rgba(143, 143, 143, 1) 33%
    )
    no-repeat center;
  transform: translateZ(0) scale(1);
  z-index: 8;
  height: 100vh;
  width: 100%;
}

h3 {
    font-family: abril fatface;


}